/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 28, 2021, 4:27:53 PM
    Author     : Admin
*/
img {
    max-width: 70%;
    max-height: 190px;
}
.single-blog-item1 {
    border: 1px solid #dfdede;
    box-shadow: 2px 5px 10px #dfdede;
    margin: 15px auto;
    padding: 5px;
    position: relative;
}
.blog-content1 {
    padding: 15px;
}
.blog-content1 h4 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.blog-content1 h4 a{
    color:#777;
}
.blog-content1 p{
    color: #999;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.3333;
}
.blog-date1{
}
.blog-date1 {
    position: absolute;
    background: #337ab7;
    top: 35px;
    left: 5px;
    color: #fff;
    border-radius: 0 25px 25px 0;
    padding: 5px 15px;
    font-weight: 700;
}
.btngroup {

    border-radius: 2px;
    display:  block;
    text-align: center;
    height: 80px;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
    margin-bottom:auto;
}
.btn-group{
    margin-left:auto;
    margin-right:auto;
    margin-top:50px;
    margin-bottom:auto;
}
.single-blog-item1{
    height:450px ;
}